@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=REM:wght@500;900&display=swap');

.sidebar {
    width: 250px;
    height: 100vh;
    background: rgba(50, 50, 50, 1);
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
}

button {
    margin-left: 15px;
}

.siddebar-content {
    display: flex; 
    position: absolute; 
    left: 10px; 
    margin-top: 10px; 
    text-align: left;
}

.selected {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    background: rgba(75, 0, 175, 1);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 700;
}

.sidebar.collapsed {
    width: 0;
}
  
@media (max-width: 400px) {
    .sidebar {
      width: 0;
    }
    .sidebar.collapsed {
      width: 250px;
    }
}