.dashboard {
    display: flex;
    
    .dashboard-main {
        flex-grow: 1;
        margin: 0 1rem 0 1rem;

        .grid-container { 
            display: flex;

            .grid-column-left {
                display: flex;
                flex-direction: column;
                width: 65%;

                .grid-column-left-side {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    height: 10rem;
                }
            }

            .grid-column-right {
                display: flex;
                flex-direction: column;
                width: 35%;
            }

            #balance {
                width: 45%;
            }

            #savings {
                width: 45%;
            }

            #transaction {
                height: 14rem;
            }

            #transfer {
                height: 6rem;
            }

            #debit {
                background: linear-gradient(to bottom right, rgb(111, 0, 255, 1), rgb(56, 0, 130, 1));
                height: 10rem;
                padding: 1rem 1.5rem 1.5rem;

                .debit-title {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 0.5rem 0;
                }

                .debit-number {
                    font-size: 12px;
                    margin-bottom: 0;
                }

                .debit-balance {
                    font-size: 34px;
                    font-weight: bold;
                    margin: 0;
                }

                .debit-name {
                    display: flex;
                    margin-top: 0.5rem;
                    align-items: center;
                    justify-content: space-between;
                }

                .card-chip {
                    border-radius: 6px;
                    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                }
            }

            #card-info {
                height: 20rem;
                padding: 2rem 1.5rem 0;
                font-size: 0.9rem;

                .info-title {
                    font-size: 1.5rem;
                }
            }
            
            .grid-item { 
                background-color: #2e2e2e;
                border-radius: 20px;
                padding: 1rem;
                margin: 0.5rem;
            }
        }
    }   
}
