.dashboard {
    display: flex;
    
    .dashboard-main {
        flex-grow: 1;
        margin: 0 1rem 0 1rem;

        .grid-container { 
            display: flex;

            .grid-column-left {
                display: flex;
                flex-direction: column;
                width: 65%;

                .grid-column-left-side {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    height: 10rem;
                }
            }

            .grid-column-right {
                display: flex;
                flex-direction: column;
                width: 35%;
            }

            #balance {
                width: 45%;
            }

            #savings {
                width: 45%;
            }

            #transaction {
                height: 14rem;
            }

            #transfer {
                height: 6rem;
            }

            #debit {
                background-color: rgba(75, 0, 175, 1);
                height: 10rem;
            }

            #card-info {
                height: 18rem;
            }
            
            .grid-item { 
                background-color: #414141;
                border-radius: 20px;
                padding: 1rem;
                margin: 0.5rem;
            }
        }
    }   
}
