$color-dark-gray: #242424;
$color-gray: #2e2e2e;
$color-purple: linear-gradient(to bottom right, rgb(111, 0, 255, 1), rgb(56, 0, 130, 1));;
$color-gold: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
$color-red: #ff0051;
$color-blue: #4359ff;

.dashboard {
    display: flex;
    
    .dashboard-main {
        flex-grow: 1;
        margin: 0 1rem 0 1rem;

        .grid-container { 
            display: flex;

            .grid-column-left {
                display: flex;
                flex-direction: column;
                width: 65%;

                .grid-column-left-side {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    height: 10rem;
                }
            }

            .grid-column-right {
                display: flex;
                flex-direction: column;
                width: 35%;
            }

            #balance {
                width: 45%;
                

                .balance-title {
                    margin: 0.2rem 0 0 0.3rem;
                    padding: 0;
                }

                .balance-num {
                    font-weight: 500;
                    font-size: 1.3rem;
                    margin: 0.8rem 0 0 0;
                    text-align: center;
                }

                .balance-summary {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    font-size: 1.6rem;
                    margin-top: 0;

                    .balance-divider {
                        margin-top: 1.3rem;
                    }

                    .balance-expenses, .balance-income {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 0.8rem;
                        margin: 1.3rem 0;

                        .balance-expenses-name {
                            color: $color-red;
                            padding-right: 0.3rem;
                        }

                        .balance-income-name {
                            color: $color-blue;
                            padding-left: 0.3rem;
                        }
                    }
                }
            }

            #exchange {
                flex-grow: 1;
                width: 45%;

                .exchange-title {
                    margin: 0.1rem 0.5rem 0.5rem 0.5rem;
                }
            }

            #transaction {
                height: 15rem;
                padding: 0.3rem 1.5rem;

                .transaction-table-header {
                    text-align: center;
                    color: white;
                    background: $color-dark-gray;
                    font-size: 0.8rem;
                }
            }

            #transfer {
                height: 6rem;

                .transfer-title {
                    margin: 0.3rem 0.5rem 0.5rem 0.5rem;
                }

                .transfer-table-header {
                    color: white;
                    background: $color-dark-gray;
                    font-size: 0.6rem;
                }

                .transfer-table-content {
                    font-size: 0.6rem;
                }
            }

            #debit {
                background: $color-purple;
                height: 10rem;
                padding: 1rem 1.5rem 1.5rem;

                .debit-title {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 0.5rem 0;
                }

                .debit-number {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                }

                .debit-balance {
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin: 0;
                }

                .debit-name {
                    display: flex;
                    margin-top: 0.5rem;
                    align-items: center;
                    justify-content: space-between;
                }

                .card-chip {
                    border-radius: 6px;
                    background: $color-gold;
                }
            }

            #card-info {
                height: 20rem;
                padding: 2rem 1.5rem 0;
                font-size: 0.9rem;

                .info-title {
                    font-size: 1.5rem;
                }
            }
            
            .grid-item { 
                background-color: $color-gray;
                border-radius: 20px;
                padding: 1rem;
                margin: 0.5rem;
            }
        }
    }   
}
