.header {
    display: flex;
    justify-content: space-between; 
    height: 100px;
    align-items: center;
    margin-top: 0.8rem;
    margin-left: 1rem;

    .title {
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
    }
    
    .welcome, .time {
        display: flex;
        font-size: 1rem;
        margin-right: 4rem;
        margin-left: auto;
    }
    
    .logo {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
    
        .logo p {
            display: flex;
            align-items: center;
        }
    
        .logo-img {
            width: 10px;
        }
    
        .logo-txt {
            padding: 0 0.5rem;
        }
    }
}
