.sidebar {
    width: 250px;
    height: 100vh;
    text-align: center;
    background: rgba(50, 50, 50, 1);
    transition: all 0.3s;
    margin-right: 1rem;

    button {
        padding-top: 0.3rem;
        margin-left: 0.5rem;
    }
    
    .sidebar-content {
        display: flex; 
        flex-direction: column;
        margin-top: 1rem;
    }

    .item-link, button {
        cursor: pointer;
    }

    .item-link {
        text-decoration: none;
        color: white;
    }

    .selected {
        background: linear-gradient(to bottom right, rgb(111, 0, 255, 1), rgb(56, 0, 130, 1));
        border-radius: 20px;
        padding: 0.35rem;
        margin: 10px 30px 10px 30px;
        font-weight: 700;
    }
}
  
.sidebar.collapsed {
    width: 0;
}

@media (max-width: 400px) {
    .sidebar {
      width: 0;
    }
    .sidebar.collapsed {
      width: 250px;
    }
}