$color-purple: linear-gradient(to bottom, rgb(111, 0, 255, 1), rgb(56, 0, 130, 1));

.transfer {
    display: flex;
    
    .transfer-main {
        flex-grow: 1;
        margin: 0 1rem 0 1rem;

        .transfer-balance {
            font-size: 1.3rem;
            margin-left: 1rem; 
        }

        .transfer-number, .transfer-amount {
            text-align-last: left;
            margin: 0 1rem 0 1rem;
            padding: 0.5rem;
            border-radius: 8px;
            font-size: 1rem;

            .transfer-recipient {
                text-align: left;
            }
        }
        

        .transfer-btn {
            background: $color-purple;
            border: none;
            border-radius: 5px;
            padding: 0.5rem;
            margin: 0 0.5rem;
             width: 5rem;
        }

        .transfer-history {
            font-size: 1.3rem;
            margin: 2rem 0 1rem 1rem;
        }

        .transfer-table-page {
            margin-left: 1rem;

            .transfer-table-header {
                font-size: 1rem;
            }
        
            .transfer-table-content {
                font-size: 1rem;
            }
        }

        .transfer-btns {
            display: flex;
            align-items: center;
            justify-content: right;
            font-size: 1rem;
            margin-right: 1.6rem;
            margin-top: -3rem;
            
            .prev-btn, .next-btn{
                background: $color-purple;
                border: none;
                border-radius: 5px;
                padding: 0.5rem;
                margin: 0 1rem;
                width: 5rem;
            }
        }
    }
    
}
